//Container & Breakpoints
@use 'sass:math';
$containerWidth : 1200;
$containerPadding : 40;
$containerSidePadding : math.div($containerPadding, 2);
$breakpoint1450 : 1449.98 + px;
$breakpoint992 : 991.98 + px;
$breakpoint768 : 767.98 + px;
$breakpoint480 : 479.98 + px;

//burger menu
$burgerBreakpoint : $breakpoint992;
$burgerColor : #131418;
$burgerActiveColor : #fefefe;

//fonts
$gothic : 'DelaGothicOneRegular', sans-serif;
$poppins : 'PoppinsMedium', sans-serif;

//colors
$background : #141414;
$themeColor : #ddfe25;
$textColor: #f6f6f6;

//fonts
$fz: 1.8vw;
$fz-headers: 2vw;
$fz-standartText : 1.5vw;
