// @import '../../node_modules/bootstrap/scss/bootstrap-grid';
@import './modules/normalize';
@import './modules/mixins';
@import './modules/reset';
@import './modules/fonts';
@import './modules/variables';



/* ===========[ Ресет ]=========== */
.h2, .h3 {
    font-family: $poppins;
    font-size: $fz-headers;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
button {
    border: none;
}
body {
    @include adaptive-value('font-size', 62.5, 16, 0);
    @media screen and (max-width: $breakpoint768) {
        font-size: 16px;
    }
}

/* ===========[ Стили контейнера ]=========== */

.section-header {
    position: relative;
    min-width: 100vw;
    min-height: 100vh;
    padding-top: 2em; //200px
    background-image: url(./../images/texture.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: $background;
    font-family: $poppins;
    &:before {
        content: '';
        position: absolute;
        display: block;
        background-image: url(./../images/rings.png);
        background-size: contain;
        background-repeat: no-repeat;
        width: 9.44em;
        height: 0.416em;
        top: 0;
        right: 50%;
        transform: translateX(50%);
    }
}
.container {
    display: flex;
    flex-direction: column;
    // justify-content: space-around;
    margin: 0 auto;
}

/* ===========[ Общие стили navBar и кнопки ]=========== */

.header-navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2em;
    padding-bottom: 1.1em;
    border-bottom: 5px solid $themeColor;
}
.header-navBar__btn {
    @include adaptive-value('font-size', 62.5, 16, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    width: 1.248em;
    height: 100%;
    border: none;
    .header-search-btn__img {
        width: 0.816em;
        height: 0.816em;
    }
}
.header-hamburger {
    @include adaptive-value('font-size', 62.5, 16, 0);
    height: 1.152em;
    background-color: transparent;
    cursor: pointer;
    .hamburger-inner {
        position: relative;
        display: block;
        width: 1.248em;
        height: 0.128em;
        background-color: $themeColor;
        &:before, &:after {
            content: '';
            position: absolute;
            display: block;
            left: 0;
            background-color: $themeColor;
            width: 100%;
            height: 0.128em;
        }
        &:before {
            top: -0.384em;
        }
        &:after {
            bottom: -0.384em;
        }
    }
}
.header-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 4.5em;
}

/* ===========[ Header List ]=========== */

.header-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}
.header-list__item {
    position: relative;
    min-width: 4.48em;
    height: 100%;
    &:before {
        content: '';
        position: absolute;
        display: block;
        width: 100%;
        height: 10px;
        left: 0;
        transform: scaleX(0);
        bottom: calc(-1.1em - 7px);
        background-color: $textColor;
        transition: all .3s;
    }
    &:hover {
        .header-list__link {
            transition: all .3s;
            color: $themeColor;
        }
        &::before {
            display: block;
            transform: scaleX(1);
        }
    }
}
.header-list__link {
    display: block;
    height: 100%;
    width: 100%;
    line-height: 2em; // соответствует высоте header-navBar
    color: $textColor;
    text-align: center;
}

/*==========[ @media queries ]==========*/
//1450
@media screen and (min-width: $breakpoint1450) {
    .container {
        max-width: 100%;
        padding: 0 2.88em 0;
    }
}
@media screen and (max-width : $breakpoint1450) {
    .container {
        max-width: 1370px;
        padding: 0 40px;
    }
    .header-navBar {
        border-bottom: 3px solid $themeColor;
    }
    .header-list__item {
        &::before {
            height: 6px;
            bottom: calc(-1.1em - 4px);
        }
    }
}
//1200
@media screen and (max-width : $breakpoint1200) {
    .container {
        padding: 0 15px;
    }
    .header-navBar {
        padding-bottom: 0.5em;
    }
    .header-list__item {
        &::before {
            bottom: calc(-0.5em - 4px);
        }
    }
}
//768
@media screen and (max-width : $breakpoint768) {
    .header-navBar__btn {
        font-size: 24px;
    }
    .header-hamburger {
        font-size: 16px;
    }
    .header-logo {
        width: 100px;
    }
    .header-navBar {
        padding-bottom: 1em;
        border-bottom: 2px solid $themeColor;
    }
    .header-list__item {
        &::before {
            height: 5px;
            bottom: calc(-1em - 3px);
        }
    }
}
//576
@media screen and (max-width : $breakpoint576) {
    .header-list__item {
        display: none;
    }
}

/* ===========[ Стили главного экрана ]=========== */

        //стили большого заголовка
.main-title__wrapper {
    position: absolute;
    top: 0.9em;//135
    left: 50%;
    transform: translateX(-50%);
    font-family: $gothic;
    font-size: 2.4em; //150px
    line-height: 1em; //150px
    text-transform: uppercase;
    text-align: center;
}
.main-title {
    color: $themeColor;
    width: 10.6em;
}

        //Стили колонок главного экрана
.header-content {
    margin-top: auto;
    position: relative;
    padding-top: 2.16em; //135px
    z-index: 1;
    &::before {
        content: '';
        position: absolute;
        display: block;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 22.6em;//1590
        height: 15.9em;//998
        background-image: url(../images/main-img.png);
        background-size: contain;
        background-repeat: no-repeat;
        z-index: -1;
    }
}
.header-content__columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 40px;
}

.header-content__column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.12em 0 2.88em; //70 0  180
    max-width: 10.816em; //676
}
.header-content__column_left {
    align-items: flex-start;
    .header-content__image {
        max-width: 4.5em; //283
    }
}

.header-content__column_right {
    text-align: right;
    align-items: flex-end;
    text-align: right;
    .header-content__image {
        max-width: 3.7em; //233
    }
}

.header-content__image {
    margin-bottom: 3.36em; //210
}
.header-content__title {
    margin-bottom: 1em; //62
    font-size: 1.3em;
    line-height: 1.3em;

    color: $themeColor;
}
.header-content__text {
    margin-bottom: 1em;
    font-size: 0.9em;
    line-height: 1.24em;
    color: $textColor;
}
.header-content__link-btn {
    margin-top: auto;
    min-width: 7em; //440
    text-align: center;
    padding: 0.6em 1.2em; //42 80
    background-color: $themeColor;
    border-radius: 1.5em;
    font-size: 1em;
    font-family: $poppins;
    color: $background;
    &:hover {
        scale: 1.05;
        transition: all .3s;
        box-shadow: 2px 2px 10px $background;
    }
}




@media screen and (max-width : $breakpoint1200) {
    .header-content {
        &::before {
            opacity: .7;
        }
    }
}
@media screen and (max-width : $breakpoint576) {
    .main-title__wrapper {
        font-size: 2em; //150px
    }
    .main-title {
        width: 10.6em;
    }
}
@media screen and (max-width : $breakpoint480) {
    .main-title__wrapper {
        position: relative;
        top: 0;
        text-align: center;
        margin-bottom: 20px;
    }
    .main-title {
        width: auto;
    }
    .header-content {
        &::before {
            transform: translateX(-70%);
            opacity: .5;
        }
    }
    .header-content__column {
        max-width: 100%;
        padding: 0 0 2em; //70 0  180
    }
    .header-content__image {
    margin-bottom: 2em;
    } 
}
// доделать всяких анимашек, выпадашек, прелоад.